{{#partial "titulo"}}
    <title>RECORDANIOS | DETALLE CUMPLEANIOS</title>
{{/partial}}

{{#partial "contenido"}}
    <h1>{{nombre}}</h1>
    <p>A continuacion se detalla al cumplaniero y su respectiva fecha.</p>
    <p>Recordanios te los recuerda:</p>
    <ul>
        <li>Cumpleaniero: {{nombre}}</li>
        <li>Fecha de nacimiento: {{fecha}}</li>
    </ul>
{{/partial}}

{{> layout.html.hbs}}