{{#partial "titulo"}}
    <title>RECORDANIOS | LOGIN</title>
{{/partial}}

{{#partial "contenido"}}
    <p>Inicio de sesion</p>
    <form action="/login" method="post">
        <div class="campo">
            <label>Usuario:</label>
            <input placeholder="Ingrese usuario" type="text" name="user">
        </div>
        <div class="campo">
            <label>Contrasenia:</label>
            <input placeholder="Ingrese contrasenia" type="text" name="pass">
        </div>
        <input type="submit" value="Iniciar sesion">
    </form>
{{/partial}}

{{> layout.html.hbs}}